.container {
  width: 600px;
  height: 600px;
}
.image-cover {
  width: 100%;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: 0.5s linear;
  /* transform: translate(3%); */
  background-color: #287da4;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
color: white;
top: 40%;
left: 40%;
position: absolute;
font-size: 20px;
transform: translate(50% 50%);
}
.pagination {
  display: flex;
  flex-direction: row;
}
.pagination-link {
  border: 1px solid grey;
  text-decoration: none;
  padding: 10px;
  width: 50px;
  height: 30px;
  color: black;
  text-align: center;
}

/* Resize */
.resize {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  resize: vertical;
  overflow: auto;
}